// Main Button
.channel__main_button {
    all: unset;
    border-radius: 6px;
    padding: 5px 0;
    box-sizing: border-box;
    text-align: center;
    color: #fff; 
    background-color: #3ac6e8;
    cursor: pointer;
    transition: .15 linear;
    font-size: 13px;

    &:hover {
        background-color: #4edcff;
        transition: .15 linear;
    }
}