// Scrolling Config
$default: #192b46;
$active: #223c62;
$extraActive: #3c6cb4;

/* Track */
.channel__scoll {
    &::-webkit-scrollbar {
        width: 5px; 
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: $active; /* color of the scrollbar handle */
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: $extraActive; /* color of the scrollbar handle on hover */
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: $default; /* color of the scrollbar track */
    }
  
    /* Corners */
    &::-webkit-scrollbar-corner {
        background-color: $default; /* color of the scrollbar corners */
    }
}

  