<div class="channel__main_sidebar text-poppins">
    <div class="channel__main_sidebar_wrapper">
        <div class="channel__main_sidebar_lists">
            <a [routerLink]="['secure-app']" class="channel__main_sidebar_list">
                <span style="background-image: linear-gradient(#4E65FF,#92EFFD);">
                    <i-home class="channel__main_sidebar_list_icon" [size]="18"></i-home>
                </span>
                <span>Home</span>
            </a>
            <a [routerLink]="['secure-app','your-lists']" class="channel__main_sidebar_list">
                <span style="background-image: linear-gradient(#D4145A,#FBB03B);">
                    <i-tasks class="channel__main_sidebar_list_icon" [size]="18"></i-tasks>
                </span>
                <span>Your List</span>
            </a>
        </div>
    </div>
</div>