<div style="width: 100%;" class="channel__form_text">
    <textarea 
    autocomplete="off" 
    placeholder="" 
    class="channel__form_type_text text-poppins" 
    id="{{ 'channel__' + randomNumber }}" 
    (focus)="openLabel('channel__' + randomLabelNumber)" 
    (blur)="closeLabel('channel__' + randomNumber,'channel__' + randomLabelNumber)" 
    (input)="persistLabel('channel__' + randomNumber,'channel__' + randomLabelNumber)" 
    (input)="resizeTextArea('channel__' + randomNumber)"  
    (input)="recordValue($event)"
    name="title"
    ></textarea>
    <label 
    id="{{ 'channel__' + randomLabelNumber }}" 
    class="channel__form_label" 
    for="{{ 'channel__' + randomNumber }}"
    >
        {{ label }}
    </label>
</div>