<div class="channel__container">
    <!-- Hero Section -->
    <section class="channel__home_hero text-poppins">
        <div class="channel__home_hero_wrapper">
            <img class="channel__home_hero_img" alt="N/A" [src]="homeHeroImageUrl">
            <div class="channel__home_hero_description">
                <h1><span>.C</span>hannel</h1>
                <h3><span>Easy</span> to use..</h3>
                <h3>...Easy to <span>build</span></h3>
            </div>
            <div class="channel__home_hero_line"></div>
        </div>
    </section>
    <!-- Footer Section -->
    <home-footer></home-footer>
</div>