<div class="channel__input_color_selection">
    <label class="channel__form_labels">{{ label }}</label>

    <div class="channel__input_color_selection_items">
        <div class="channel__input_color_selection_items_flex">
            <div class="items">
                <div class="channel__input_color_selection_items_preview"></div>
                <label>#aabbcc</label>
            </div>
            <div class="items">
                <div class="channel__input_color_selection_items_preview"></div>
                <label>#bbccdd</label>
            </div>
            <div class="items">
                <div class="channel__input_color_selection_items_preview"></div>
                <label>#bbccdd</label>
            </div>
            <div class="items">
                <div class="channel__input_color_selection_items_preview"></div>
                <label>#bbccdd</label>
            </div>
        </div>
    </div>
</div>