<div class="channel__modal_container text-poppins"></div>

<div (clickOutside)="clickOutsideOperationsOptions($event)" class="channel__create_list_status text-poppins" cdkDrag>
    <div class="channel__create_lists_status_move_handler">
        <p>List Status</p>
        <channel-icons 
        cdkDragHandle
        style="
        z-index: 3;
        " 
        [type]="'Move'"
        [size]="18"
        [color]="'3ac6e8'"
        >
        </channel-icons>
    </div>

    <div class="channel__create_list_status_body">
        <form class="channel__create_list_status_body_input">
            <!-- Name Of Status -->
            <ch-input-text (value)="title = $event" [label]="'Named As'"></ch-input-text>
            <!-- Description -->
            <ch-input-textarea (value)="description = $event" [label]="'Description'"></ch-input-textarea>
            <!-- Color Palette -->
            <ch-select-color [label]="'Choose Color Status'"></ch-select-color>
        </form>


        <div style="margin-bottom: 20px;" class="channel__create_list_status_footer">
            <main-button
            (click)="submit()"
            style="position: relative; z-index: 2;"
            [buttonName]="'Done'"
            [buttonWidth]="40"
            >
            </main-button>
        </div>
    </div>
</div>
